@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.containers {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.speech-to-text, .history {
    flex: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    font-family: "Baskervville SC", serif;
}

#history-list {
    list-style-type: none;
    padding: 0;
}

#history-list li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#copy-message {
    display: none;
}

@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
    }
}
nav{
    color: black;
}
.faq{
    margin: 20px auto;
    max-width: 500px;
}
#copy-message {
    display: none;
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
